/*css for section headings*/

.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: sans-serif;
  color: #5cb85c;
  font-weight:bold;
}

.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

/*comment background css*/
.commentbackground {
	border-radius: 25px;
    border: 2px solid #c99912;
	padding: 20px; 
 	background: url("/images/ancientPage.jpg");
	background-position: left top;
	background-repeat: repeat;
}